body {
    flex-direction: row;
    align-items: center;

}

h1 {
    color: red;
    align-items: center;
}

h3 {
    color: blue;

}

html {
    border: 1px solid red;
    background-color: dimgray;
}